{% extends 'base.html' %}
<!-- Block Title -->
{% block title %} BackEnd {% endblock %}
<!-- Logout button -->
{% block nav-btn %}
<a class="btn btn-outline-danger btn-sm text-light" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logout">Log out</a>
{% endblock %}
<!-- Block Footer-->
{% block footer %} style="color: #ff7f7f;" {% endblock %}
<!-- Block Navbar content -->
{% block nav-content %}
<i class="fa-solid fa-unlock-keyhole"></i>&nbsp;&nbsp; Administration
{% endblock %}
<!-- Page Content -->
{% block content %}
<div class="container mt-3">
    <!-- Links -->
    <button class="btn btn-warning w-100 mt-4 no-pointer">&nbsp;&nbsp;
        <i class="fas fa-tools"></i> CONTROL PANEL
    </button>
    <div class="card p-3 mt-2">
        <div class="row">
            {% include 'components/cards/all_cards.html' %}
        </div>
    </div>
    <!-- Section 2 (next class)-->

</div><!--END // container -->
{% endblock %}